html {
    scroll-behavior: smooth;
  }

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#canvas {
    display: block;
    background-color: rgb(105, 105, 105);
    padding: 0 0 10px 0;
}

#head-logo {
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#navbar-left, #navbar-right {
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 100%;
  }
  
#navbar-left a, #navbar-right a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 0 20px;
}

#navbar-left {
    justify-content: flex-start;
    width: 100%;
}

#navbar-right {
    justify-content: flex-end;
    width: 100%;
}


#navbar-left a:hover, #navbar-right a:hover {
    background-color: gray;
}

.fa {
    padding: 40px;
    font-size: 60px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

#content-holder {
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 2%;
    box-shadow: 0 0 15px black;
}

.content {
    padding: 56px;
    margin: 30px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
  .sticky + .content {
    padding-top: 60px;
}

  .carousel-inner img {
    width: 100%;
    height: 100%;
}

#bardo-imgs {
    width: 50%;
    height: 50%;
    margin: 50px auto;
    border: 15px solid black;
    border-radius: 3%;
    box-shadow: 0 0 15px black;
    background-color: black;
}

#team-members{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card {
    display: block;
    border: none;
    border-radius: 6%;
    box-shadow: 0 0 15px rgb(168, 168, 168);
    padding: 20px;
    width: 340px;
    justify-content: center;
    margin: 30px;
    background-color: rgb(250, 250, 250);
}

.team-card img {
    margin: auto;
    width: 300px;
    height: 300px;
}

.vl {
    border-left: 6px solid rgb(202, 202, 202);
    height: 500px;
    margin: auto;
  }

  #contato {
      display: flex;
      justify-content: center;
  }

  #contato div {
      margin: 0 20px;
  }

  #contato button {
      background-color: rgb(226, 226, 226);
      border: 3px solid rgb(226, 226, 226);
      padding: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      opacity: 1;
      transition: 0.4s;
      box-shadow: 3px 3px 10px rgb(212, 212, 212);
  }

  #contato button:hover {
      opacity: 0.7;
      border: 3px solid rgb(236, 236, 236);
      cursor: pointer;
      box-shadow: 5px 5px 12px rgb(212, 212, 212);
  }

  #fblink {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      border: none;
      padding: 20px;
      background-color: blue;
      color: white;
      font-weight: bold;
      opacity: 1;
      transition: 0.4s;
      box-shadow: 3px 3px 5px blue;
  }

  #fblink:hover {
      opacity: 0.7;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(236, 236, 236); /* Set a background color */
    color: rgb(36, 36, 36); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: rgb(228, 228, 228);
  }